body{
    color: #EEE63F;
    background-color:#222A61;
    margin: auto;
    max-width: 25%;
}
section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}

h1{
    text-align: center;
    font-size: xx-large;
}

.line{
    height: 5px;
    background: linear-gradient(180deg, rgba(53,72,154,1) 50%, rgba(82,111,238,1) 51%);
}

button{
    align-self: center;
    max-width: 15rem;
    color: #EEE63F;
    background-color: #526FEE;
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

#search-field {
    align-self: center;
    max-width: 30rem;
}

.output {
    margin: auto;
}
#swFact{
    border-radius: 1rem;
    background-color: #121652;
    padding: 0.3rem 4rem 1rem 4rem;
    margin: 0.5rem
}